.content h1 {
  font-size: 2em;
}
.content {
  blockquote {
    background-color: #eeeeee;
    padding: 1em;
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #9c27b0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img {
    margin: 1em 0;
  }
  h1 {
    font-size: 2em;
    border-bottom: 2px solid black;
  }
  .katex {
    font-family: KaTeX_Math !important;
  }
  ul {
    * > li {
      list-style-type: circle;
      list-style-position: inside;
      a {
        color: black;
        text-decoration: none;
        :visited {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
